<section>
    <h1>Register:</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <label>Email:</label>
            <input type="text" formControlName="email">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" formControlName="password">
        </p>
        <p>
            <label>Repeat password:</label>
            <input type="password" formControlName="rePassword">
        </p>
        <p>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </p>
    </form>
</section>