.registerForm {
    max-width: 400px;
    margin: 0 auto;
}

.registerForm h1 {
    text-align: center;
}

.registerForm label,
.registerForm input {
    display: block;
}

.registerForm label {
    font-weight: bold;
}

.registerForm input {
    padding: 7px;
    margin-top: 4px;
    border: solid 1px;
    border-radius: 0.7em;
}

button {
    font-size: 20px;
    padding: 7px;
    border-radius: 0.7em;
}