.footer {
    float:left;
    color: rgb(188, 158, 113);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    text-decoration:solid ;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
  }