<h1 class="title">Add New Product</h1>
<div class="container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <input
      id="productName"
      type="text"
      placeholder="Product name"
      formControlName="productName"
    />

    <input id="price" type="text" placeholder="Price" formControlName="price" />

    <input
      id="category"
      type="text"
      placeholder="Category"
      formControlName="category"
    />

    <button type="submit">SEND</button>
  </form>
</div>
