<div class="header">
  <a class="logo" routerLink="/" routerLinkActive="active"
    >HeyBohoGirl</a
  >
  <div class="header-right">
    <a routerLink="/products" routerLinkActive="active">Products </a>
    <a routerLink="/gallery" routerLinkActive="active">Gallery </a>
    <a routerLink="/about" routerLinkActive="active">About us</a>
    <div *ngIf="!isLoggedIn" class="authButtons">
      <a routerLink="/sign-in" routerLinkActive="active">Login</a>
      <a routerLink="/register-user" routerLinkActive="active">Register</a>
    </div>
    <div *ngIf="isLoggedIn"  class="authButtons">
      <a routerLink="/make-order">Make an Order</a>
      <a (click)="logOut()">Logout</a>
    </div>
  </div>
</div>
