<div class="header">
  <a href="#" class="logo" routerLink="/" routerLinkActive="active"
    >HeyBohoGirl</a
  >
  <div class="header-right">
    <a routerLink="/products" routerLinkActive="active">Products </a>
    <a routerLink="/gallery" routerLinkActive="active">Gallery </a>
    <a routerLink="/about" routerLinkActive="active">About us</a>
    <a routerLink="/contacts" routerLinkActive="active">Contact us</a>
    <div class="authButtons">
      <a routerLink="/sign-in" routerLinkActive="active">Login</a>
      <a routerLink="/register-user" routerLinkActive="active">Register</a>
    </div>
  </div>
</div>
