<div id="homeImg">
  <img
    src="../../assets/watercolor-oasis-theme-frame-with-dried-floral_45050-311.avif"
    alt="cinque terre"
  />
  <div class="container">
    <div class="centered">
      <h1>Welcome To Our Jewelry Shop</h1>
      <p>
        Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non
        necessitatibus error distinctio mollitia suscipit. Nostrum fugit doloribus
        consequatur distinctio esse, possimus maiores aliquid repellat beatae cum,
        perspiciatis enim, accusantium perferendis.
      </p>
      <a class="contactBtn" routerLink="/contacts" routerLinkActive="active">Contact us</a>
    </div>
  </div>
 
</div>
