<article class="box">
  <button
    (click)="
      addToShoppingCard(
        item.id,
        item.productName,
        item.price,
        item.category
      )
    "
  >
    BUY
  </button>
  <a [routerLink]="['/products', 'detail', item.id]">
    <div class="img-box">
      <img
        src="../../../assets/381074000_781201344013814_821133475041912350_n.jpg"
        alt="NO IMAGE"
      />
    </div>
    <div class="detail-box">
      <span>{{ item.productName }}</span>
      <span> Price${{ item.price }} </span>
    </div>
  </a>
</article>
